body {
  margin: 0;
  padding: 0;
}

.dropdownMenu {
  height: 117px;
  width: 100%;
  position: absolute;
  top: 55px;
  padding: 0;
  overflow-y: auto;
  z-index: 99;
  border: 1px solid #e3dce4;
  border-radius: 8px;
  left: 50px;
  display: flex;
  flex-direction: column;
}

.Name input,
.Telefon input {
  background: #fff;
  border: 1px solid #e3dce4;
  border-radius: 8px;
  color: black;
  font-size: 16px;
  line-height: 1.38;
  padding: 7px;
}

.Subject {
  position: relative;
}
.Subject .input-button {
  background: #fff;
  border: 1px solid #e3dce4;
  border-radius: 8px;
  color: black;
  font-size: 16px;
  line-height: 1.38;
  padding: 7px;
  display: inline-block;
  width: 182px;
}
.dropdown-button {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  justify-content: space-between;
  line-height: 1.38;
  padding: 8px 13px 8px 16px;
  background-color: #fff;
  border: none;
}
.checked {
  background-color: #d7e6fc;
}
.dropdownBackground {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparent;
  /* background-color: rgba(0, 0, 0, 0.5); */
  z-index: -1;
}
.is-hidden {
  display: none;
}

.Name,
.Telefon,
.Subject {
  display: flex;
  align-items: center;
}
.Name label,
.Telefon label,
.Subject label {
  width: 110px;
}
